version: "3.9"

services:
  user-service:
    build:
      context: ./user-service
    container_name: user-service
    ports:
      - "5001:5000"   # External 5001 → Internal 5000 in container
    environment:
      - ENV=local
      - SQLITE_DB_PATH=/app/database.db
    volumes:
      - ./user-service/database.db:/app/database.db  # Persist DB locally
    restart: unless-stopped

  order-service:
    build:
      context: ./order-service
    container_name: order-service
    ports:
      - "5003:5000"   # External 5003 → Internal 5000
    environment:
      - ENV=local
      - SQLITE_DB_PATH=/app/database.db
    volumes:
      - ./order-service/database.db:/app/database.db
    restart: unless-stopped

  product-service:
    build:
      context: ./product-service
    container_name: product-service
    ports:
      - "5002:5000"   # External 5002 → Internal 5000
    environment:
      - ENV=local
      - SQLITE_DB_PATH=/app/database.db
    volumes:
      - ./product-service/database.db:/app/database.db
    restart: unless-stopped
