<!DOCTYPE html>
<html>
<head>
    <title>Orders</title>
</head>
<body>

    <h2>All Orders</h2>
    <a href="/">Home</a><br><br>

    <table border="1">
        <tr>
            <th>ID</th>
            <th>User</th>
            <th>Product</th>
            <th>Quantity</th>
            <th>Total Price</th>
        </tr>

        {% for o in orders %}
        <tr>
            <td>{{ o[0] }}</td>
            <td>{{ o[1] }}</td>
            <td>{{ o[2] }}</td>
            <td>{{ o[3] }}</td>
            <td>${{ o[4] }}</td>
        </tr>
        {% endfor %}
    </table>

</body>
</html>
